# Default values for podlands.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: podlands
domain: qoutland.com

serviceAccount:
  name: podlands-sa
  automount: true
  annotations: {}
  labels:
    app: podlands-sa

backend:
  name: podlands-backend
  labels:
    app: podlands-backend

  image:
    repository: ghcr.io/qoutland/podlands/backend
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80

  deployment:
    autoscaling:
      enabled: false
    replicaCount: 1
    imagePullPolicy: IfNotPresent
    imagePullSecrets:
      - name: ghcr
    annotations: {}
    serviceAccount:
      name: podlands-sa
    securityContext: {}
    livenessProbe:
      httpGet:
        path: /health
        port: http
    readinessProbe:
      httpGet:
        path: /health
        port: http
    nodeSelector: {}
    affinity: {}
    tolerations: []


frontend:
  name: podlands-frontend
  labels:
    app: podlands-frontend

  image:
    repository: ghcr.io/qoutland/podlands/frontend
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80

  deployment:
    autoscaling:
      enabled: false
    replicaCount: 1
    imagePullPolicy: IfNotPresent
    imagePullSecrets:
      - name: ghcr
    annotations: {}
    securityContext: {}
    livenessProbe:
      httpGet:
        path: /
        port: http
    readinessProbe:
      httpGet:
        path: /
        port: http
    nodeSelector: {}
    affinity: {}
    tolerations: []

  replicaCount: 1


# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: false
  className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1

  hosts:
    - host: qoutland.com
      paths:
        - path: /api/
          pathType: Prefix
          service:
            name: "{{ include 'podlands.name' . }}-backend"
            port: 8000
        - path: /
          pathType: Prefix
          service:
            name: "{{ include 'podlands.name' . }}-frontend"
            port: 80
  tls: []
 

config:
  enabled: true
  data:
    HTTP_SCHEME: https
    DOMAIN: qoutland.com
    SNAKE_API: https://{{ .Values.domain }}/api/snake
    SNAKE_NAMESPACE: snake
    LOAD_INCREMENT: 100.0

resources: {}

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
