# Source: podlands/templates/backend-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: podlands-backend
  namespace: podlands
  labels:
    
    app: podlands-backend
spec:
  type: ClusterIP
  selector:
    
    app: podlands-backend
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
---