# Ingress for the podlands backend, this will allow the backend to be accessed from the domain
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: podlands-ingress
  namespace: {{ .Values.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
    - host: {{ .Values.domain }}
      http:
        paths:
          - path: /api/
            pathType: Prefix
            backend:
              service:
                name: podlands-backend
                port:
                  number: 8000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: podlands-frontend
                port:
                  number: 80