apiVersion: v1
kind: Namespace
metadata:
  name: website 
  labels:
    environment: production
    team: qoutland
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: website
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: qoutland/backend:latest
