name: Build Docker Images

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  REPOSITORY: ${{ github.repository }}

jobs:
  build_and_push:

    runs-on: ubuntu-latest
    environment: prod

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Login to Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Add support for more platforms with QEMU (optional)
    # https://github.com/docker/setup-qemu-action
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set tag using date
      run: |
        HOUR=$(date +%H | sed 's/^0//')
        MIN=$(date +%M | sed 's/^0//')
        echo "TAG=$(date +%Y.%m.%d)-$HOUR$MIN" >> $GITHUB_ENV

    - name: Build the backend Docker image
      uses: docker/build-push-action@v6
      with:
        context: backend
        file: backend/Dockerfile
        platforms: linux/amd64,linux/arm64
        tags: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/backend:${{ env.TAG }}
        push: true

    - name: Build the frontend Docker image
      uses: docker/build-push-action@v6
      with:
        context: frontend
        file: frontend/Dockerfile
        platforms: linux/amd64,linux/arm64
        tags: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/frontend:${{ env.TAG }}
        push: true